.App {
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  background-image: url("https://images5.alphacoders.com/872/872037.png");
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
